body { margin: 0; padding: 0;}
canvas { width: 100%; height: 100% }

.controls{
    position: fixed;
    left:0;
    top:0;
    width: 200px;
    background: rgba(0,0,0,0.5);
    border-right: red solid 1px;
    z-index: 100;
}
.board{
    position: fixed;
    left:0;
    top:0;
    bottom: 0;
    right: 0;

}

.controlbox{
    margin: 10px;
    height: 170px;
position: relative;;
}
.controlbox button{
    width: 40px;
    height: 40px;
    background: white;
    border: none;
    display: block;
color: white;
position: absolute;

}

.controlbox button img{

    width: 100%;

}

.controlbox button[name="up"]{
    top:10px;
    left: 50%;
    margin-left: -20px;
}
.controlbox button[name="left"]{
    top:40px;
    left: 10px;

}
.controlbox button[name="right"]{
    top:40px;
    right: 10px;

}
.controlbox button[name="down"]{
    top:70px;
    left: 50%;
    margin-left: -20px;
}
.controlbox button[name="rl"]{
    top:120px;
    left: 10px;

}
.controlbox button[name="rr"]{
    top:120px;
    right: 10px;

}
.controls img{
    max-width: 50px;
}

.topControlls{
    position: fixed;
    top:1em;
    right: 1em;
    text-align: right;
    color: white;
}
.topControlls hr{
    margin: 5px 0;
    background: white;
}
.selected{
    font-weight: bold;
}

.toolsPanel{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    padding: 1em;
    color:white;
}
.toolsPanel ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.toolsPanel ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.toolsPanel ul li img{
    max-height: 50px;
}
.modelControls{
    position: absolute;
    right: 10px;
    top: 10px;
}
.modelControls img{
    max-height: 30px;

}
