<!DOCTYPE html>
<html ng-app="rpgboard">
<head>
    <meta charset=utf-8>
    <title>My first three.js app</title>
    <link rel="stylesheet" href="css/controls.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script src="bower_components/three.js/build/three.js"></script>
    <script src="bower_components/three.js/examples/js/loaders/OBJLoader.js"></script>

    <script src="bower_components/angular/angular.js"></script>

    <script src="js/3dBoardController.js"></script>
    <script src="js/app.js"></script>
    <script src="js/components/camera-controls.component.js"></script>
</head>
<body ng-controller="main-controller">
    <div class="controls" id="controls">
        <camera-controls con-handler="cameraControlsHandler"></camera-controls>


        <ul>
            <li><a href="#" onclick="changeTileImage('assets/stone.jpg')"><img src="assets/stone.jpg" alt="tile"></a></li>
            <li><a href="#" onclick="changeTileImage('assets/crate2_diffuse.png')"><img src="assets/crate2_diffuse.png" alt="tile"></a></li>
        </ul>

    </div>

    <div class="board" id="board">

    </div>

    <div class="topControlls">
        <span ng-repeat="index in screenModes" >
            <button  ng-click="changeMode(index)" ng-class="selectedScreenMode == index ? 'selected':'' ">{{index}}</button>
        </span>
    </div>

</body>
</html>
